@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@400;500;600;700&display=swap');


canvas{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
   
}

h1{
   
    width: 45%;
    color: #F2EBDC;
    font-size: 85px;
    font-family: Abril Fatface;
    letter-spacing: 6px;
    margin: -85px 65px -15px;
    

    
   
}

.headline{
    position: relative;
    background: linear-gradient(to right , #024959, 75% ,transparent);
    width: 50%;
    height: 100vh;
    margin: -68px -100px;
    padding: 30px 150px ;

}

p{
    color: whitesmoke;
    width: 57%;
    font-family: inter;
    font-weight: 100;
    font-size: 23px;
    /* font-weight: 100; */
    padding: 5px 65px;

}

button{
    color: black;
    padding: 12px 26px;
    background: #F2EBDC;
    margin: 30px 65px;
    margin-right: 20px;
    font-size: 21px;
    border: none;
    border-radius: 5px;
    font-family: inter;
    

}
button:hover{
    color: teal;
    background: white;
    transition: all 1s;
  border-radius: 0;
}

.logo{
    height: 32%;
    transform: rotateY(185deg);
    opacity: .66
}

